{% extends 'base.html.twig' %}

{% block title %}Profile Utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		{% for type, messages in app.flashes  %}
			{% for message in messages %}
				<div class="alert alert-{{ type}}  text-center">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
		<h2 class="title text-center my-3">Données personnelles de
			{{ app.user.nickname }}
		</h2>
		<div class="profile-info">
			<div class="p
			rofile-name">
				<p>Pseudo</p>
				<p class="name">{{ app.user.nickname }}</p>
			</div>
      <hr>
			<div class="profile-email">
				<p>Email</p>
				<p class="email">{{ app.user.email }}</p>
			</div>
       <hr>
			<div class="profile-age">
				<p>Age</p>
				<p class="age">{{ app.user.age }}</p>
			</div>
       <hr>
			<div class="profile-avis">
				<p>Mes Avis</p>
				{% for comment in comments %}
					<p class="avis">
						{{ comment.content }}
						
					</p>
  						<a href="{{ path('delete_comment' ) }}" class="button">supprimer le commentaire</a>
					{% endfor %}
				
				</div>
			
		</div>
	
  <div class="mb-3">	
  <a href="{{ path('delete_account' ) }}" class="button">supprimer mon compte</a>
				
</div></div>
{% endblock %}
