{% extends 'backoffice.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
   
 <div class=" col-md-12 text-center py-3 ">
    
   <a class="d-flex justify-content-start text-decoration-none  "href="{{ path('product_create') }}"><button class="btn btn-primary btn-lg " >Ajout Support</button></a>
   <h4 >filtrer selon categorie</h4>
  <a href="{{ path('admin_backoffice') }}"><button class="btn active btn-dark" > tout</button></a>
  {% for category in categories %}
  {% if category.title is same as ('Leçons') or category.title is same as ('Coloriage') or category.title is same as ('Chansons') or category.title is same as ('Histoires')  or category.title is same as ('Activités') %}
  <a href="{{ path('product_display',{'categoryId': category.id }) }}"><button class="btn active btn-dark"> {{ category.title }}</button></a>
  
  {% endif %}
  {% endfor %}
</div>

    <table class=" table table-secondary" >
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Level</th>
            <th>File</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.category.title | default('') }}</td>
                <td> {{ product.type.title }} </td>
                 <td> {{ product.level.title }} </td>
                    
               
                 <td><a  href="{{ asset('upload/' ~ product.file) }}">{{ product.title }}</a>
                 </td>
                <td> 
                    <a href="{{ path('product_edit', {'productId': product.id }) }}" class="mr-2 text-info">
                    <i class="fas fa-2x fa-edit "></i></a>
                    <a href="{{ path('product_delete', {'productId': product.id }) }}" class="ml-2 text-danger">
                    <i class="fas fa-2x fa-trash"></i></a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

