<nav class="navbar">
      <div class="navbar-brand">
        <a  href="{{ path('app_index') }}"
          ><img src="{{ asset('assets/images/logo.png') }}" alt="logo"
        ></a>
      </div>
      <div class="navbar-inner-list ">
        <ul>
          <li  >
            <a class="active-link " href="{{ path('app_index') }}"
              ><img
                src="{{ asset('assets/images/flaticon/accueil.png') }}"
                alt="Accueil logo image"
              >Accueil</a>
          </li>
          <li>
            <div class="dropdown">
              <a href="{{ path('methode') }}" class="dropbtn"
                ><img
                  src="{{ asset('assets/images/flaticon/arabe.png') }}"
                  alt="Methode logo image">Méthode</a>
              <div class="dropdown-content">
                {# {% for category in categories  %}
								{% if category.title is same as ('Leçons') or category.title is same as ('Activités')  %}

									<a href="{{ path('index_category',{'categoryId': category.id }) }}">{{ category.title }}</a>
								{% endif %}

							{% endfor %} #}
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="{{path('ludique')}}" class="dropbtn"
                ><img
                  src="{{ asset('assets/images/flaticon/ludique.png') }}"
                  alt="ludique logo image">Ludique</a >
              <div class="dropdown-content">
			{# {% for category in categories  %}
							{% if category.title is same as ('Chansons') or category.title is same as ('Histoires') or category.title is same as ('Coloriage') %}
								

									<a href="{{ path('index_category',{'categoryId': category.id }) }}">{{ category.title }}</a>
								{% endif %}
							{% endfor %} #}

              </div>
            </div>
          </li>
          <li>
            <a href="{{ path('app_contact')}}"
              ><img
                src="{{ asset('assets/images/flaticon/courrier.png') }}"
                alt="Contact logo image"
            >Contact</a
            >
          </li>
          <li>
            <a href="{{ path('app_comments')}}"
              ><img
                src="{{ asset('assets/images/flaticon/temoin.png') }}"
                alt="Temoignages logo image"
              >Témoignages</a
            >
          </li>
		  {# {% if is_granted('ROLE_ADMIN')%}
          <li>
            <a href="{{ path('admin_backoffice') }}"
              ><img
                src="{{ asset('assets/images/flaticon/admin.png') }}"
                alt="Admin logo image"
              >Admin</a
            >
          </li>
		  {% endif %} #}

        </ul>
		 <div class="close-btn">
          <i class="fa-solid fa-times"></i>
        </div>
      </div>
	  
      <div class="navbar-outer-list">
        <ul>
          <li>
		  {% if app.user %}
            <div class="dropdown">
              <a href="" class="dropbtn"
                ><img
                  src="{{ asset('assets/images/flaticon/account.png')}}"
                  alt="account logo image"
              ></a>
              <div class="about-dropdown-content">
                <a href="{{ path('account') }}">Mon Compte</a>
                <a href="{{ path('app_logout') }}">Deconnexion</a>
              </div>
            </div>
          </li>
		  
          <li class="toggle-btn"><i class="fa-solid fa-bars"></i></li>
         </ul> 
		
      
	  {% else %}
				<div class="container-login d-flex my-2">
          		
					<a href="{{ path('app_login') }}" class="button mr-2 ">Connexion</a>
					<a href="{{ path('register') }}" class="button ">Inscription</a>
					</div>
					<li class="toggle-btn"><i class="fa-solid fa-bars"></i></li>
					
			
				</ul> 
				</div>
	  {% endif %}
    </nav>