{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<!-- home section start -->


{% if app.user and app.user.isVerified == false %}
<div class="alert alert-danger text-center" role="alert">
				<div class="alert-message">
					<strong>Votre compte n'est pas activé,veuillez vérifier votre boîte de réception</strong>
				</div>
			</div>
{% endif %}
  <div  class="home  m-5  d-flex justify-content-center">
  <img src="{{ asset('assets/images/b.jpg') }}" alt="" class="img-fluid">
    <div class="content ">
     


    </div>

  </div >

  <!-- home section end -->


  <!-- cards section start -->

  <div class=" container-cards ">
    <div class="heading">
      <h2 class="text-center  py-5"> Choisir Vôtre Niveau</h2>
    </div>

    
    <div class="row my-2">
    {% for level in levels %}
      <div class="card col-lg-3 mb-5 ">
        <div class="card-body">
          <div class="image">
            <img src="assets/images/card.png" class=" img-fluid img p-3" alt="...">
          </div>
           <div class="btn-card">
            <a href="{{ path('index_level',{'levelId': level.id }) }}" class="button m-4">{{ level.title }}</a></div>
         
        </div>
      </div>
   {% endfor %}
      

    </div>
  </div>
  <!-- cards section end -->

  <!-- inscription section start -->
  <div class=" abonner-section bg-light">

    <div class="container-abonner">
    
      <div class="row row-abonner  ">
        <div >
          <img src="{{asset('assets/images/ludique.jpg')}}" alt="ImageInsciption" width="700">
        </div>
        <div class="write-section col-lg-6 col-md-12 py-5 ">
          <h3 class="text-black p-3">Apprendre et Jouer Avec Nous!</h3>
        
          <p >Apprenez l'arabe pour les enfants en ligne grâce aux vidéos, chansons, histoires , et plain des activités pratiques.

            Grâce à notre méthode d'auto-apprentissage, les enfants peuvent apprendre l'arabe à leur rythme,
            n'importe quand, n'importe où.
            Rejoignez nous pour commencer votre apprentissage !</p>
          <div class="btn-abonnez p-3">
            <a href="{{ path('register')}}" class="button  ">M'inscrire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inscription section end -->


  <!--  fun section start -->
  <div class="fun-section ">
    <div class="container-fun ">
        <div class="heading">
          <h2 class="title-fun">Allons nous s'amuser</h2>
        </div>
      
      
      <div class="row ">
      
        <div class=" card-body col-lg-3   ">
          <div class="package  text-center " id="card1">
            <span class="img-wrap"><img src="assets/images/flaticon/pere.png" alt="Imagecoloriage" class="img-fluid"></span>
            {% for category in categories %}
          {% if category.title is same as ('Coloriage') %}
    
            <p><a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a></p>
          {% endif %} 
          {% endfor %}
         </div>
        </div>
        
        <div class=" card-body col-lg-3  ">
          <div class="package  text-center " id="card2">
            <span class="img-wrap"><img src="{{asset('assets/images/flaticon/party.png')}}" alt="Imagechanson" class="img-fluid"></span>
            {% for category in categories %}
          {% if category.title is same as ('Chansons') %}
            <p><a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a></p>
            {% endif %} 
          {% endfor %}
          </div>
        </div>
        <div class=" card-body col-lg-3  ">
          <div class="package  text-center  " id="card3">
            <span class="img-wrap"><img src="assets/images/flaticon/histoires.png" alt="Imagehistoire" class="img-fluid"></span>
          {% for category in categories %}
          {% if category.title is same as ('Histoires') %}
            <p><a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a></p>
            {% endif %} 
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  fun section end -->

  <!-- form contact start -->
 
<div class="sec1 mb-2">
<div class="content">
<a href="{{ path('app_contact')}}" class="text-decoration-none">
<h1 class="text-center text-light py-3 ">Contactez-Nous</h1>
<img class="content img-contact" src="assets/images/contact.jpg" alt="contactez-nous" style="height: 350px;">
</a>
</div>
</div >
<div  class="sec2 mb-2 "></div >


  <!-- form contact end -->



 


{% endblock %}